@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger"></h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3></h3>
<p>
 
</p>
<p>

</p>
